<div>

  <h1 align='center'> BATTLE </h1>
  <h2 align='center'> <%= @player1 %> vs <%= @player2 %> </h2>
  <h3 align='right'> <%= @player2 %>: score <%= @player2_score %>/100 </h3>

  <form action='/attack' method='post'>
  <button type="submit" name='attack'> Attack! </button>
  </form>
  <% if @attack == 'attacked' %>
  <h1 align='center'> <%= @player1 %> attacked <%= @player2 %></h1>
  <% end %>
</div>